<div class="content-border">
  <div style="padding: 2px; border 1px solid #f9e1a8">
    <div style="padding: 10px; width: 100%">
      <form id="temporary-popup">
        <textarea name="inputCoords"></textarea>
        <input type="submit" value="Wyciągnij rozkazy">
      </form>
    </div>
  </div>
</div>
